[2020-07-22 12:20] julianrubisch opened #19 "Emit futurism:appeared event after morphing is done"
# Feature Request

In order to re-bind JS behavior (particularly JQuery plugins ;-)) a `CustomEvent` should be emitted after morphing is done

This should be easily doable after morphing is done: https://github.com/julianrubisch/futurism/blob/master/javascript/futurism_channel.js#L33

[2020-07-22 20:07] julianrubisch opened #20 "Generated URLs start with /cable"
# Bug Report

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Add any `link_to` to a rendered partial

## Expected behavior

A clear and concise description of what you expected to happen.

## Possible fix

[code]

[2020-07-22 20:20] julianrubisch commented on #20
@all-contributors add @mepatterson for bug reports

[2020-07-22 20:41] MohamedTaha123 opened #22 "NoMethodError - undefined method `map' for nil:NilClass"
- hi guys i dont know why i get this error after containerizing my web application :

 Could not execute command from ({"command"=>"message", "identifier"=>"{\"channel\":\"Futurism::Channel\"}", "data"=>"{\"sgids\":[null]}"}) [NoMethodError - undefined method `map' for nil:NilClass]: /usr/local/bundle/ruby/2.5.0/gems/futurism-0.2.0/lib/futurism/channel.rb:10:in `receive' | /usr/local/bundle/ruby/2

[2020-07-23 06:55] julianrubisch commented on #22
Just to double check, the API has changed a bit... have you updated both the gem and the javascript package?

It sounds like you’re running an old version

[2020-07-23 07:41] julianrubisch opened #23 "Restore placeholders before turbolinks caches"
If a page is turbolinks-cached, it will show it in a flash, then render the futurism helpers.

However, if cached, it would preferable to simply use the cached version and halt everything.

Cf https://github.com/turbolinks/turbolinks#detecting-when-a-preview-is-visible, http://www.modernmpa.com/turbolinks

[2020-07-23 17:10] MohamedTaha123 commented on #22
yes im still running a version that i installed a 2 days ago

[2020-07-23 17:24] julianrubisch commented on #22
That is a bit unsettling. Could you post the exact versions and a code snippet or something else I can tell from what could be wrong?

[2020-07-24 00:22] MohamedTaha123 commented on #22
** _gif.html.erb partial**
`
<%= gif.label %>
`
**gif.rb**
` def to_partial_path
    'gifs/gif'
  end
`
**index.html.erb**
` <%= futurize @trending, extends: :div do%>
          <h4>Loading...</h4>
        <% end %>
        `

[2020-07-24 05:38] julianrubisch commented on #22
In your snippet above you mention "sgids":[null]

I’ve rewritten everything a bit since then and not use sgids (at the moment). Could you please post the exact versions you’re using?

[2020-07-24 16:37] MohamedTaha123 commented on #22
I'm using the latest version 😬😬

[2020-07-24 17:17] julianrubisch commented on #22
Duh... I just can’t reproduce it :( that’s unsatisfying... what happens if you really remove the gem and reinstall?

[2020-07-24 17:48] MohamedTaha123 commented on #22
the same issue, i dont know why but it was working before dockerizing the app

[2020-07-24 18:30] MohamedTaha123 commented on #22
i think i fix it by reinstall the gem, thanks for the support

[2020-07-24 18:30] #22 closed

[2020-07-24 19:10] MohamedTaha123 commented on #20
im facing this problem too :(

[2020-07-24 19:15] mepatterson commented on #20
To be more clear, the bug as I reported was specifically trying to render an _image_ in a partial using futurism, especially where using activestorage 'variant' feature. Instead of `http://localhost:3000/<the-usual-image-path>`, it was adding `cable` for `http://localhost:3000/cable/<the-image-path/>` which then wouldn't resolve the image (resulting in a 404). My 'solution' up above was for a simi

[2020-07-24 19:18] julianrubisch commented on #20
Thanks! I‘m currently working to reproduce the bug in a test but haven’t succeeded yet. I definitely had the issue also with a simple path helper. Need to investigate further

[2020-07-25 09:37] julianrubisch commented on #22
Thanks, and sorry for the inconvenience!

[2020-07-25 18:18] #19 closed

[2020-07-25 18:31] marcoroth opened #27 "Allow to pass locals when rendering a collection"
# Feature Request

Allow to pass locals when rendering a collection

## Is your feature request related to a problem?

In order to stay as close as possible to the `render` method in Rails it would make sense to support the passing of locals when rendering a collection.

While you can do this with `render`:

[code]

You can't do this with `futurize`:

[code]

## Describe the solution you'd like

T

[2020-07-26 09:35] #27 closed

[2020-07-30 09:06] julianrubisch opened #34 "Identify channel (cf StimulusReflex)"
see https://github.com/hopsoft/stimulus_reflex/blob/7c80cc8adac55af5413a0bc8379ab251aeae5b0e/lib/stimulus_reflex/channel.rb#L4

[2020-07-30 09:33] #20 closed

[2020-08-02 11:44] julianrubisch opened #36 "Futurize ViewComponents"
# Feature Request

Make futurism VC-proof

## Is your feature request related to a problem?

It would be nice to be able to futurize VC just like partials.

[2020-08-05 18:10] julianrubisch opened #38 "Deep transform locals hash"
# Feature Request

Use `deep_transform_values` to convert any ActiveRecord stored in `locals` to a GID

## Rationale

We want to keep over-the-wire size as small as possible. `MessageVerifier` will serialize a complete ActiveRecord otherwise, making the resulting string huge.

## Additional context

This will require to depend on Rails >= 6

[2020-08-20 15:10] StephenFiser opened #39 "ActiveStorage image url isn't correct on localhost"
Image src is prefixed with `http://example.org` instead of `http://localhost:3000`.

[2020-08-28 08:09] julianrubisch commented on #23
cf https://dev.to/adrienpoly/animations-with-turbolinks-and-stimulus-4862

Contrary to my statement above, I now think the futurism-element's state should be restored to `loading` before navigation, so the cached version displays the `loading` elements.

[2020-08-28 08:11] julianrubisch commented on #34
@leastbad @hopsoft I'm unsure about this one, would you give me the pleasure and chime in? Do you think this is necessary? I.e., is it necessary to authenticate the channel or is it safe for multi-user use?

[2020-08-28 18:15] leastbad commented on #34
I think the simplest answer is that you should 100% absolutely copy Nate's `stream_name` method from SR verbatim.

While the nature of Futurism is arguably harmless eg. if someone has an sgid in their DOM that suddenly gets loaded, it's probably not a harm. However, it doesn't make sense to me that everyone should be receiving everyone's updates, regardless.

[2020-08-30 23:25] scottbarrow opened #42 "Question: eager trigger futurism"
Question or potentially feature request.

It seems that futurism triggers a partial load on becoming visible, which is great for lazy loading say tab panels.
Is there a way that I can eager trigger futurism without toggling the containing elements visibility?
This would be useful async loading of expensive tab content

See example - Tab D is currently lazy loading on click/panel visibility, I woul

[2020-08-31 00:40] scottbarrow opened #43 "Allow passing data attributes into html_options"
In order to add custom functionality to Futurism, for say a Stimulus controller, it would be great to be able to pass data attribute through html_options and have them merge with data-signed-params, currently any passed data attributes wipe this out

[2020-08-31 03:34] scottbarrow commented on #42
For now I've wrapped my tabs in a stimulus controller and subscribed to the `Futurism::Channel` channel and then dispatched a `'futurism:appear'` event on `turbolinks:load`
If there's a better way or if you would consider adding this as a option I would love to help out. I don't know if I have the js chops to submit a PR solo though.

[2020-08-31 06:22] julianrubisch commented on #42
That's a very interesting question I have not anticipated TBH. The problem is, it wouldn't be so easily doable without turning it upside down, since futurism relies on the [`IntersectionObserver`](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) API, i.e., you literally cannot load something that's invisible. IMHO that's also part of the elegance, and makes the logic eas

[2020-08-31 23:57] scottbarrow commented on #42
I'd be happy to attempt a PR, maybe passing in an async option to the futurize method.

Here is my hack solution

[code]

[2020-09-01 06:57] julianrubisch commented on #42
I'd call it `eager: true`, maybe that's more unambiguous. That could render `<futurism-element data-eager="true" ...>...</futurism-element>`

Maybe the easiest approach would be to bypass the `IntersectionObserver` completely? You could add a second method analogue to https://github.com/julianrubisch/futurism/blob/627df1f417b20dae10f06b24098708948f4aee6d/javascript/elements/futurism_utils.js#L27 -

[2020-09-01 17:55] julianrubisch commented on #39
So I dug a bit into this. Surprisingly, even setting everything up in `config/initializers/application_controller_renderer.rb`doesn't fix it:

[code]

[code]

As you can see it's present in `@defaults`, but _not_ in `@env['HTTP_HOST']`.

So either I'm not understanding everything correctly (more likely) or this is a Rails bug.

[2020-09-01 18:05] julianrubisch commented on #39
Interestingly, the [rails code docs](https://github.com/rails/rails/blob/3c362f097ff8f6d28da0c6572779a82fedd2b63d/actionpack/lib/action_controller/renderer.rb#L25) states:

[code]

so this should work?

[2020-09-02 01:48] StephenFiser commented on #39
Thanks for taking a look into this. Apologies for not getting back to it. Been pretty tied up for the past week.

[2020-09-02 10:28] julianrubisch commented on #39
So, apparently, thanks to @leastbad and @ParamagicDev on the StimulusReflex discord, setting

`config.action_controller.default_url_options = {host: "localhost", port: 3000}`

should do it. I suspected it had to be some of those config options, just it wasn't clear which `default_url_options` 😁

Could you try this and confirm? Then I'd update the docs and close the issue...

[2020-09-02 10:36] julianrubisch commented on #34
yeah I was just stumped because you don't do it in optimism...

[2020-09-02 11:42] leastbad commented on #34
I'm not sure that's actually true:

https://optimism.leastbad.com/authentication

Optimism is based on `stream_for` instead of `stream_from`.

[2020-09-02 11:52] julianrubisch commented on #34
Ah! I see. Of course

[2020-09-02 12:41] #34 closed

[2020-09-02 13:20] julianrubisch commented on #43
just to reassure, something like this?

`futurize(post, extends: :div, html_options: {class: "absolute inset-0", data: {controller: "test"}})`

[2020-09-02 13:23] julianrubisch commented on #43
I've written a failing test case, just to double check this is what you had in mind: https://github.com/julianrubisch/futurism/commit/183833ce4b528f65b1205b3155842718bb143963

[2020-09-02 15:25] scottbarrow commented on #43
Thats awesome thanks!, I was hoping to take a stab at this at the weekend alongside the eager loading issue

[2020-09-02 15:33] julianrubisch commented on #43
Fine! I‘d like to release this into 0.4.1 to see if it’s stable for everyone, then tackle eager loading and other stuff

[2020-09-08 07:07] #43 closed

[2020-09-08 07:23] julianrubisch commented on #39
@StephenFiser could you take a look if https://github.com/julianrubisch/futurism/pull/50 looks good to you?

[2020-09-09 07:57] #39 closed

[2020-09-09 09:38] dannyvanhoof opened #51 "PG::InvalidParameterValue - ERROR: payload string too long"
I just tried to implement my first "futurism" tryout. Although all components seem to connect, I get an error when the element tries to update: (I reduced the data-signed-params string in below's printout - as it is actually 117K bytes long...)

`Futurism::Channel#receive({"signed_params"=>["BAh7BzoMcGFydGlhbEkiIXdpbmtlbC9zdG9yZV9vcmRlcl...f2b7fbf72d7c5a5df5b15"], "sgids"=>[nil]})
  Rendered winke

[2020-09-11 05:36] julianrubisch commented on #51
Yeah MessageVerifier generated strings are pretty long, since they serialize the whole object (duh).

I’m planning to deep transform any model objects in the locals hash to GIDs: https://github.com/julianrubisch/futurism/issues/38

[2020-09-11 07:25] dannyvanhoof commented on #51
Which means I guess - until this is finished - that futurism is limited to very simple objects only? Or is there a work around?

[2020-09-11 07:46] julianrubisch commented on #51
Not at the moment, correct. I plan to approach this in the next weeks though

[2020-09-13 23:33] leastbad commented on #39
This might be interesting to you, @StephenFiser https://discordapp.com/channels/629472241427415060/733725826411135107/754809268917502084

[2020-09-14 07:46] julianrubisch commented on #51
If you like, you can try out https://github.com/julianrubisch/futurism/pull/53 and see if it helps!

[2020-09-15 03:23] StephenFiser commented on #39
@leastbad thanks for sharing! Totally fell off the wagon on this ticket 😬 Been swamped with unrelated items.

[2020-09-22 10:22] #38 closed

[2020-09-22 10:27] julianrubisch commented on #51
@dannyvanhoof I just cut v0.5.0 - you can try out if that resolves your issue

[2020-09-26 22:29] scottbarrow opened #54 "ApplicationController context"
# Bug Report

## Describe the bug

I am trying to futurize a view that relies on helpers that are included only in the subclass of ApplicationController, futurism render's in the context of  ApplicationController.
https://github.com/julianrubisch/futurism/blob/abb5bcf31c9cb381777b623c5f4768ddc8eda67d/lib/futurism/channel.rb#L28

Would you be open to having an override for the controller constant,

[2020-09-27 18:15] julianrubisch commented on #42
@scottbarrow could you take a look if https://github.com/julianrubisch/futurism/pull/56 works for you?

[2020-09-28 04:25] #42 closed

[2020-10-06 07:27] #23 closed

[2020-10-09 14:52] rickychilcott commented on #54
@scottbarrow  my approach in #62 was to make the controller able to be overridden per `futurize` statement because it doesn't seem like you'd want every connection to always use one single controller.

[2020-10-09 14:53] rickychilcott commented on #51
@dannyvanhoof have you had a chance to try out the latest version which incorporates #53?

[2020-10-09 15:12] scottbarrow commented on #54
@rickychilcott I like the idea of passing it per instance of futurize, however this may become tedious in my case where the majority of my controllers inherit from a sub class of ApplicationController. Could you maybe consider an initializer in addition?

[2020-10-09 15:22] rickychilcott commented on #36
@julianrubisch would you want to pair on this some?

I'm not sure

[code]

would be supportable for an API unless you have some ideas about how we could hook into the view_component's instantiation step to capture raw arguments to deep transform them dow the wire.

Something like the following could be workable:

[code]

which would call `render(ItemCardComponent.with_collection(@cards))` under th

[2020-10-09 15:26] rickychilcott opened #63 "Better Error Handling"
# Feature Request

## Is your feature request related to a problem?

While developing some examples, I've passed in some bad parameters to a partial or there have been issues in my partials that causes futurism to never resolve the partial. As such, cable ready never sends back a valid partial.

## Describe the solution you'd like

While in development mode, I'd like to see an error that replaces

[2020-10-09 15:54] dannyvanhoof commented on #51
Sorry - I haven't, as we choose a different solution at that time, we're currently not working with futurism anymore... ...which however doesn't mean we won't in the (near) future...

[2020-10-09 16:12] rickychilcott opened #64 "Discussion: Futurism Improvements"
# Feature Request

I'm in the process of vetting futurism for use with Rails russian doll caching to solve some long-standing performance issues that I have an app that I've built out that has fairly deeply nested relationships (4 or 5 levels deep, some polymorphic) along with some fairly complex permission requirements currently implemented with CanCanCan.

It seems to me that pairing futurize an

[2020-10-09 16:23] julianrubisch commented on #64
Awesome! It feels so great that other folks recognize the need and help me along with this 🙏

I have to go through all this but want to add to the list an obvious thing that could speed up things dramatically, is to use `locate_many` in case of a collection: https://github.com/rails/globalid#locating-many-global-ids

[2020-10-10 14:20] rickychilcott commented on #63
Example log lines from this morning:

[code]

UI stays like this:
<img width="954" alt="Screen Shot 2020-10-10 at 10 19 49 AM" src="https://user-images.githubusercontent.com/445759/95657361-24219780-0ae2-11eb-8b22-020aeb1d22ce.png">

[2020-10-10 17:48] julianrubisch commented on #63
Exactly! We do have (or had?) similar issues in StimulusReflex - the error messages being too general. Maybe it makes sense to join forces here.

[2020-10-11 11:59] rickychilcott commented on #54
Also, I didn't address params passing in #62

https://github.com/hopsoft/stimulus_reflex/blob/9d3149cbe37f579420285938db13880214392001/lib/stimulus_reflex/reflex.rb#L64-L88 may give us a hint about how best to approach pulling in params. I believe client-side, we'll want some JS to package up the current URL with each message down the wire, which can then be parsed server-side, and params passed t

[2020-10-11 17:51] julianrubisch commented on #54
+1

I'm testing #62 right now, will likely merge it tomorrow (CET)

[2020-10-12 06:40] #54 closed

[2020-10-12 06:42] #51 closed

[2020-10-13 21:16] staleo opened #67 "Include js-based embeds into posts"
Hi, thx for your efforts and progress this gem shows!

However, if I include some third-party embeds (tweet, telegram post, etc), it doesn't work. Youtube does work btw, but youtube embeds don't require any additional js to be loaded.

Example of tweet embed:
`<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Apple enters the 5G market with new line of iPhones <a href="https://t.co/pcWqTWOy

[2020-10-14 02:22] rickychilcott commented on #67
Is it because they are `async` script tags? Can you try removing to see if it fires?

[2020-10-14 03:44] rickychilcott commented on #67
Actually, check out the security section of https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML

I’ll try to research or think about a workaround.

[2020-10-14 03:45] scottbarrow opened #68 "Overriding the controller"
# Bug Report

_Please help us help you by filling out any applicable information in this template and removing the rest!_

## Describe the bug

Thank you for implementing the controller override @rickychilcott , @julianrubisch .
Unfortunately, I was not available to test this while it was in PR against my codebase, however I'm doing this now and of course I seem to have an issue

## To Reproduce

[2020-10-14 04:57] rickychilcott commented on #68
Hey Scott. Sorry you’re running into this issue.

It looks like it’s a loading error. Is PdfHelper defined in
app/helpers/pdf_helper.rb?

On Tue, Oct 13, 2020 at 11:45 PM Scott Barrow <notifications@github.com>
wrote:

--
Ricky Chilcott

Partner

Mission Met
(740) 561-1361
ricky@missionmet.com
www.missionmet.com

[2020-10-14 05:05] scottbarrow commented on #68
Correct, however I have a feeling the pdf helper is a red herring
On Oct 13, 2020, 9:57 PM -0700, Ricky Chilcott <notifications@github.com>, wrote:

[2020-10-14 05:07] rickychilcott commented on #68
Now that I think about it, It might be that the initializer is too early for everything to be properly loaded. https://github.com/thoughtbot/clearance/blob/4473448ab00faed7d57582cc38227c8c3d72e511/lib/clearance/configuration.rb#L140 Is an example of how the clearance gem handles it and might be the approach. I think this is an issue with zeitworks autoload

I may be able to get a PR in tomorrow mo

[2020-10-14 05:10] scottbarrow commented on #68
That would make sense, amazing, thank you for chasing this and the params issue!

[2020-10-14 05:40] julianrubisch commented on #68
Will eager loading do it?

https://github.com/iftheshoefritz/garden_rails/blob/de85f95af85bf0a0ade4981f786eac696199b459/lib/tasks/generate_yard.rake#L16

[2020-10-14 10:33] staleo commented on #67
Hi Ricky, thank you for a quick response!

No, removing `async` doesn't help, sadly.

Couple words on the workflow: people write posts, and sometimes they not only add text paragraphs, but also input links to external services, like youtube, twitter, etc. It'd be great to autoparse their tweet links, so I gsub their links to embeds (still not sure if it's better to do on frontend or on backend, up

[2020-10-14 20:27] rickychilcott commented on #67
I'm not sure I have a 100% clear answer but have some ideas to try.

https://ghinda.net/article/script-tags/ gives a good background on why this happens and ways around it in general

Futurism utilizes CableReady under the hood, specifically `outerHtml` and maybe in the future `innerHtml` operations. We could ask the CR team to see if they'd provide a `execute_js` parameter to these, but I'd like

[2020-10-27 10:35] julianrubisch commented on #67
Yeah `morph` with `children_only: false` could work, but we saw a couple of issues related to that im StimulusReflex, so it would require a significant amount of testing and could lead to a major version bump, when we're not even at 1.0 yet 😂

I'm wondering if we could use `data.operations` here

https://github.com/julianrubisch/futurism/blob/master/javascript/futurism_channel.js#L37

to iterate o

[2020-11-29 18:38] rickychilcott commented on #67
@staleo did you try my suggestion?

[2020-11-30 09:29] #68 closed

[2020-11-30 17:21] julianrubisch commented on #64
@rickychilcott I'm going to go over this again in the next few days.

[2020-12-09 11:32] julianrubisch opened #72 "Doesn't work when script tag is async'ed"
# Bug Report

## Describe the bug

Futurism doesn't work if the `javascript_pack_tag` is `async`:

## To Reproduce

[code]

## Versions

### Futurism

- Gem: [e.g. 0.7.2]
- Node package: [e.g. 0.7.2]

### Browser

- Latest Chrome

[2020-12-30 11:35] julianrubisch commented on #64
Finally getting round to addressing some of the points you made. My goal is to finally get to a stable v1 some time soon.

yep, I think this should be easily done.

This is intentional, to prevent some race conditions with CableReady I’ve encountered.

This is a perfect use case for a PWA. I could see that implemented like an additional JS module you can pull in if desired. (And added by the gener

[2020-12-30 11:36] julianrubisch commented on #63
With v3.4 logging in StimulusReflex really looks awesome, should we copy some of that over?

[2020-12-30 11:38] julianrubisch commented on #64
Re: PWA

Right after writing this I'm wondering if we should maybe just provide general instructions rather than an implementation because there can only be 1 service-worker for any given domain...

[2020-12-30 13:25] julianrubisch commented on #64
We could easily use the same pattern that I use for turbolinks caching (sessionStorage) because it destroys itself once the session is destroyed.

The problem is that it's not expireable and can only hold a few MB https://stackoverflow.com/questions/15171711/expiry-of-sessionstorage

[2021-01-31 08:44] julianrubisch opened #75 "Retry"
# Feature Request

## Describe the solution you'd like

Retry to resolve a `<futurism-element>` after a configurable delay.

[2021-01-31 08:46] julianrubisch opened #76 "Make placeholder block optional"
# Feature Request

## Describe the solution you'd like

[2021-01-31 09:00] julianrubisch opened #77 "Client-side caching"
There are two ways in which this could be tackled:

1. the „canonical“ way would be via PWA/Service worker. The problem is that only one SW per domain can exist, so people would have to integrate this with their own implementations. This would boil down to a (hard and ungrateful) documentation task.

2. We could also go and roll our own implementation, as for example with the Turbolinks cache stor

[2021-01-31 09:02] julianrubisch commented on #64
@rickychilcott I decided to pull out some issues from this discussion, because I’m still getting a lot of positive feedback about futurism and think it should stay in the CableReady ecosystem, even with the advent of Turbo lazily loaded frames.

So please let me know if you see yourself taking on one or more of these issues :-)

[2021-01-31 09:08] julianrubisch opened #78 "Use locate_many to avoid N+1"
https://github.com/rails/globalid#locating-many-global-ids

[2021-02-02 18:45] rickychilcott opened #79 "Optionally allow broadcasting after each partial is generated"
If the user specifies to `broadcast_immediately: true`, then initiate a `cable_ready.broadcast` after each resource is rendered in https://github.com/julianrubisch/futurism/blob/v0.7.2/lib/futurism/channel.rb#L18-L41

[2021-02-02 18:47] rickychilcott commented on #79
@julianrubisch are you OK with this and having the syntax be `broadcast_immediately: true`?

Example:

[code]

[2021-02-02 18:48] rickychilcott commented on #64
Good stuff. You generated #78, #77, #76, #75. I also just added #79.

Thanks for pulling these out. I'm happy to work on them and will try to do so in the next week or so.

[2021-02-02 18:49] marcoroth commented on #79
How about `broadcast_now` to make it as close as possible to ActionMailer and ActiveJob ?

[2021-02-02 18:51] rickychilcott commented on #79
And shorter/less likely to misspell. I like it!

[2021-02-02 19:50] julianrubisch commented on #64
Awesome. I would like to take on #78, #77 is more a discussion right now.

Looking at #79 shortly

[2021-02-02 19:54] julianrubisch commented on #79
Hmm I'd like something along the lines of `broadcast_each`, actually

[2021-02-03 09:31] julianrubisch commented on #64
I've successfully fixed the Appraisals, so we're good to go now 👍

[2021-02-04 15:46] julianrubisch commented on #78
One way this could work would be to plug an `each_with_object` or `reduce` in

https://github.com/julianrubisch/futurism/blob/96add2e48b88f308eb75b73721a5f85e7d624543/lib/futurism/channel.rb#L21,

assemble anything that has an `sgid` with `locate_many_signed`, pluck it out, and resolve the rest.

[2021-02-05 06:48] julianrubisch commented on #79
I suggest you wait until I'm done with #78, otherwise we'll produce merge conflicts

[2021-02-09 12:33] julianrubisch commented on #64
I've added the 1.0.0 milestone to the issues I'd like to see closed so we can finally do the major version bump.

Closing this for now

[2021-02-09 12:33] #64 closed

[2021-02-12 17:35] #78 closed

[2021-02-19 20:12] julianrubisch commented on #76
I'm starting to wonder if that's maybe a special case for `eager: true`

I think it could be sufficient to make the placeholder optional when eager is `true`

[2021-02-20 19:28] julianrubisch opened #82 "Adapt for Turbo"
in addition to turbolinks

[2021-02-21 13:54] julianrubisch commented on #72
Probably because the custom element isn't yet registered. Not sure if this can be circumvented

[2021-02-24 02:15] rickychilcott commented on #82
Is this just triggering Turbo events in https://github.com/julianrubisch/futurism/blob/master/javascript/elements/index.js#L67?

[2021-02-24 02:21] rickychilcott commented on #76
My intended use case is for rendering actions or buttons that are dependant on a users permission levels. hacked together example is at https://sleepy-sea-13861.herokuapp.com/?showAll=true

In my case, I really don't want a spinner or anything to indicate that it's loading, but the button can pop in when it's returned from the server. I think you're right that I may make it `eager: true`, but I gu

[2021-02-24 05:28] julianrubisch commented on #82
I _think_ so, yes.

[2021-02-24 05:30] julianrubisch commented on #76
Why what is required? The placeholder?

Because something needs to trigger the intersectionobserver. But eager: true short circuits that anyway, so maybe we can make the placeholder optional _if_ eager is true?

[2021-02-24 11:35] rickychilcott commented on #76
Yeah, I think I understand the technical reasons why a placeholder is needed, but what I don't understand is why it needs to be user-provided.

Can the placeholder default to something like `tag.div` or `tag.span` if a placeholder is not provided? I know we need an element on the page to trigger intersectionobserver, but does an empty element work?

[2021-02-24 11:46] julianrubisch commented on #76
Ah I see! Well yes and no, it can be a default but it needs to be actually visible.

[2021-02-24 15:15] julianrubisch commented on #76
Maybe we could make everything a bit simpler and say, if no placeholder, make it an eager element.

Could deprecate eager in the future...

[2021-04-19 07:18] julianrubisch commented on #82
I think we should prepone this, because at the moment it might break futurism for many folks also using Turbo.

[2021-04-23 10:10] #82 closed

[2021-04-23 10:12] rickychilcott commented on #79
Ok to move this one forward @julianrubisch?

Does the following still feel right?

[code]

[2021-04-23 10:22] julianrubisch commented on #79
Yes please!

[2021-04-29 19:36] rickychilcott opened #89 "Better Error Handling if routes are not "recognized""
I'm starting to implement Futurism in my project and I'm running into a bunch of snags. I'm going to document them here and then submit separate PRs as soon as I can.

# Bug Report

## Describe the bug

We are currently using the `Rails.application.routes.recognize_path` function and only passing the `path`. My application uses subdomains, and as such the routes aren't properly recognized. If we p

[2021-04-29 19:40] rickychilcott opened #90 "Name collision if your project uses `Element`"
# Bug Report

## Describe the bug

I have an ActiveRecord model named `Element` in this project, and instantiate a `Element.new` in a view file (for authorization purposes). Well... that conflicts with `Futurism::Helpers::Element`. Since we just include the `Futurism::Helpers` module, it gets added into the namespace in views and controllers.

This is workaroundable on my end by referencing `::Ele

[2021-04-29 19:41] rickychilcott commented on #90
I don't see any problems with doing this , do you @julianrubisch?

[2021-04-29 19:53] rickychilcott opened #91 "Fully support any GlobalId-able entity"
# Bug Report

## Describe the bug

Currently, only `ActiveRecord::Base` objects can be serialized for `locals`. However, you can relatively easily create your own GlobalId-able serializer/deserializer by mixing in `GlobalID::Identification` and implementing two methods. See https://github.com/rails/globalid#usage for more information.

Ideally, we'd support any GlobalId-able entity in the locals c

[2021-04-29 19:59] julianrubisch commented on #90
I don't see any problem, but I wonder why that is... do you have SR in your project too? Because there's also an `Element` class...

[2021-04-29 20:02] julianrubisch commented on #91
Should be doable if we scan for inclusion of that module. Also, would require adapting the tests.

[2021-04-29 20:09] rickychilcott commented on #90
Hmm. I do have SR, but I double-checked and it's a `Futurism::Helpers::Element`

[2021-04-29 20:12] rickychilcott commented on #91
I was thinking:

[code]

becomes:

[code]

I can write some tests for this too

[2021-04-29 20:12] julianrubisch commented on #90
Okay it's late and I didn't get it at first. Yes you're right.

I'm not against a name change but FuturismElement somehow conflicts (conceptually) with the custom HTML element. Hm

[2021-04-29 20:16] julianrubisch commented on #91
Yep, could go with duck typing, here are some other options:

https://stackoverflow.com/a/28667632

[2021-04-29 20:28] #90 closed

[2021-04-29 22:17] rickychilcott commented on #91
I'm going to do a PR tomorrow.

I'm currently preferring duck typing instead, for ancestors, looking for specific subclasses/included modules, etc. Maybe it's just personal preference, but a) we do duck typing just a few lines above, and if we would have not pegged it to a specific class, this just would have been supported out of the box. The specific module could change, there could be other abs

[2021-04-30 06:16] julianrubisch commented on #91
I'm fine with it, just wanted to provide options.

[2021-05-04 17:03] #89 closed

[2021-05-17 02:43] adambedford commented on #36
👍 ++ For this feature. I'd love to see ViewComponent support. I'm just discovering this library in tandem with adopting components.

[2021-05-29 20:09] #63 closed

[2021-07-13 13:06] #76 closed

[2021-07-31 14:25] hopsoft opened #104 "Pass contextual arguments to the futurize yield block"
# Feature Request

There's not enough context to style placeholder content when futurizing collections.

## Describe the solution you'd like

When futurizing a collection, I'd like the `futurize` method to yield arguments to the block for things like current item and index which could be used to further style the placeholder(s).

It might look something like this:

[code]

[2021-07-31 16:28] julianrubisch commented on #104
Shouldn't be too hard to implement. The only potential rabbit hole is how to generalize this across the different execution paths.

[2021-07-31 17:24] julianrubisch commented on #104
Might be as easy as instrumenting `WrappingFuturismElement#render`. What do you think @rickychilcott ?

[2021-08-24 07:40] julianrubisch commented on #67
I'm closing this due to inactivity. Feel free to comment here with more information and I'll reopen!

[2021-08-24 07:40] #67 closed

[2021-08-25 07:08] #79 closed

[2021-08-29 11:08] julianrubisch commented on #104
I think this might actually make the most sense for "model partials" that are futurized either standalone or in a collection.

I will craft a solution for this case, before thinking about a more generalizable one.

[2021-08-29 16:28] julianrubisch commented on #104
As I'm implementing this, @hopsoft, incidentally, do rails partial counter indices start with `1`?

[2021-09-09 10:53] #104 closed

[2021-09-19 16:38] julianrubisch opened #110 "Add Rails 7 to appraisals"

[2021-10-01 09:56] julianrubisch opened #113 "Reuse `Boris` from CableReady 5 utils.js"
There might be an opportunity to replace `debounceEvents` with the generalized debouncer called `Boris` from CableReady 5 (available since pre4) and slim down the bundle size a bit

[2021-10-04 05:32] julianrubisch opened #114 "Custom built in elements appear to be broken on mobile safari (again)"
# Bug Report

## Describe the bug

Noticed that extends: :li doesn't load on iPad

## Mitigation

Maybe moving away from custom built in elements to a dynamically styled shadow DOM (`display: table-row`) is the way to go in the future

[2021-10-04 09:39] #114 closed

[2021-10-04 12:29] julianrubisch commented on #72
Looks like it doesn't work with `defer` either

[2021-10-07 08:34] julianrubisch opened #117 "Move from ActionController::Renderer to ActionView::PartialRenderer"
Right now futurism relies on a `ActionController::Renderer` with a complex logic to resolve the correct controller for a given URL etc.

Turns out this might not be necessary, we could just use `ActionView::PartialRenderer` if we're able to obtain the correct `view_context`, which would drastically simplify things (and perhaps also speed them up a bit)

[2021-11-09 08:19] julianrubisch opened #118 "Introduce `unless` to bypass futurism completely"
# Feature Request

When using CableReady's `updates_for` mechanism in combination with futurism, you often don't want to render the placeholders after triggering an update. The only way to do this right now is manually by adding a conditional:

[code]

The proposed API looks like this:

[code]

In fact everything is already present from the "skip in test" feature, so this should be a quick one.

[2021-11-10 08:27] #118 closed

[2021-12-16 15:07] julianrubisch opened #122 "Empty placeholder not falling back to eager loading anymore"

[2021-12-16 15:11] #110 closed

[2022-02-01 16:52] julianrubisch opened #125 "Futurize inline templates"
# Feature Request

[2022-02-01 17:03] rickychilcott commented on #125
Would this require having a reference to a block -- the same thing that's a problem for #36?

[2022-02-01 17:10] julianrubisch commented on #125
Honestly I‘d just like to make `render inline:` available, mainly to render simple helpers, for example.

haven’t yet given it more thought…

[2022-02-08 23:04] Matt-Yorkley opened #126 "GlobalID errors"
# Bug Report

## Describe the bug

Trying out Futurism on a fresh app I'm getting fatal errors that seem to be a class-loading issue with GlobalID.

## To Reproduce

- Create a fresh app with Rails 7.0.1 and Ruby 3.0.3
- Add Futurism
- Try futurizing a partial

[code]
The backtrace points to:
[code]

I notice in my Gemfile.lock I have `globalid` at version `1.0.0`, which was added by default. If I

[2022-02-08 23:29] Matt-Yorkley opened #127 "Set extends: :div by default to reduce boilerplate?"
# Feature Request

## Is your feature request related to a problem?

Not a problem as such, just a desire to reduce some boilerplate. The `futurize` helper method requires an `extends:` keyword argument but it feels like `:div` is probably the most reasonable / common default in most cases?

If that's the case, couldn't it could just *explicitly* be the default if no `extends:` argument is passed,

[2022-02-09 05:29] julianrubisch commented on #127
Yes please 🙏🏻

Could you update at least one test to reflect that, too?

[2022-02-09 05:29] julianrubisch commented on #126
Huh that is weird, I haven't run into this in spite of doing a couple of fresh installs lately.

Will investigate...

[2022-02-09 05:34] julianrubisch commented on #126
It's even more weird because the GlobalID changelog mentions no code changes between 0.6.0 and 1.0.0 🤔

[2022-02-09 08:59] Matt-Yorkley commented on #126
Results of debugging round two: it actually _does_ work with `1.0.0`, but only when I have `globalid` explicitly declared in my Gemfile. If I remove it (even though it's still in my Gemfile.lock and apparently present) I get the error. :thinking:

[2022-02-09 09:18] julianrubisch commented on #126
Oh... imho that's even stranger... could you prepare an MVCE?

[2022-02-09 10:23] #127 closed

[2022-02-09 11:11] Matt-Yorkley commented on #122
Not sure if this is the same issue (no description), but I was wondering if it would be possible to omit the block entirely when using `futurize`?

[code]

[2022-02-09 11:23] julianrubisch commented on #122
Yep, exactly. It should default to eager load the partial. Definitely worked before...

[2022-02-09 11:56] Matt-Yorkley commented on #126
Ahaaaa... okay I think I got it. Results of debugging rounds three:

The app I was working on was an MVP so I explicitly skipped a lot of modules when doing `rails new`.

Looking at the gemfile for which Rails modules explicitly use/depend on global_id, I can see it's `action_text` and `active_job`. I skipped / disabled both of those when creating the app.

Re-enabling either of those two core mod

[2022-02-09 12:48] julianrubisch commented on #126
Great find 👏🏻

I think this would have surfaced earlier if futurism only included the respective rails submodules - which I intended to do, too 🙈

[2022-02-09 12:50] julianrubisch commented on #126
Cf https://github.com/stimulusreflex/cable_ready/pull/175

[2022-02-09 14:23] Matt-Yorkley commented on #126
Confirmed adding `require "global_id"` in here resolves it:
https://github.com/stimulusreflex/futurism/blob/8d352a54a3f35bc2f7856774d6edefbd521d4fbf/lib/futurism.rb#L1-L3

Shall I PR it? It's a dependency of `rails` already, so it doesn't feel like it warrants a change in the gemspec. It just doesn't necessarily get `require`d.

[2022-02-09 14:27] julianrubisch commented on #126
yeah, the question I'd like to pose is if we should actually move away from requiring the whole of rails and just require the necessary gems...

there were some second thoughts in CR that led to https://github.com/stimulusreflex/cable_ready/pull/175, thus excluding ActionMailbox from the slug size, for example...

[2022-02-10 14:20] julianrubisch commented on #126
Yep. I'm not sure if ActiveModel should be in there. It's probably in every application anyway so we could just make it explicit?

[2022-02-10 14:43] julianrubisch commented on #126
Not really, as pointed out in the referenced CR PR, because it blows up the memory slug size when you include action_mailbox and action_text by default, for example.

[2022-02-13 13:05] Matt-Yorkley commented on #122
I'm investigating this a bit. Not sure how helpful these notes will be but here they are:

Of the three examples above, main difference in the third example (which is broken) is that it has `data-eager: "true"` added to it in the markup. Scrolling down to that point in the page triggers an error in the console:
[code]
That line is `node_modules/@stimulus_reflex/futurism/utils/crypto.js` line 8, wh

[2022-02-13 14:31] julianrubisch commented on #122
Yeah crypto is a bit... cryptic :-) https://caniuse.com/?search=crypto

in StimulusReflex we check if `window.crypto` else `window.mscrypto`, but I think that does only target IE support...

[2022-02-14 09:07] #122 closed

[2022-02-14 18:50] rcotey opened #131 "Use Application::Channel and not ActionCable::Channel::Base"
# Feature Request

## Is your feature request related to a problem?

Yes. When using futurism some things set up in the Application::Channel for ActionCable are not available to threads rendering the partials for Futurism. The best example of this is setting tenants in Acts_as_Tenant. To get things to work well in action cable you may do something like:

`def subscribed
    ActsAsTenant.current_te

[2022-02-14 20:02] julianrubisch commented on #131
Yep, using the same mechanism as StimulusReflex is probably a good idea!

[2022-02-17 13:14] evenreven opened #133 "Running installer on clean Rails 5.2 fails with TypeError: no implicit conversion of nil into String"
# Bug Report

I'm trying to add Futurism to a legacy Rails app running Rails 5.2, and I'm running into problems. Trying to recreate in a new 5.2 app has the same issues.

## Describe the bug

Running `bin/rails futurism:install --trace` gives this error:

<details><summary>Trace</summary>

[code]

</details>

## To Reproduce

Create a new Rails 5.2 install with actioncable, then bundle add futuris

[2022-03-29 11:44] julianrubisch commented on #131
Closed by #132

[2022-03-29 11:44] #131 closed

[2022-03-29 11:46] julianrubisch opened #137 "Move configuration options to `Configuration` class"
Right now we've assembled some configuration options in `lib/futurism.rb`, but recently a separate Configuration class was introduced.

We should consider moving other bits of the config there, albeit that would probably be a breaking change

[2022-03-30 10:25] julianrubisch opened #138 "Use non-expiring SGIDs"
# Bug Report

when caching partials, it can happen that the Rails auto-expiration of SGIDs (https://github.com/rails/globalid) after 1 month leads to futurized partials not resolving if the SGIDs have expired.

## Proposed solution

we should set the SGIDs to never expire, and/or make that configurable

[2022-04-29 10:35] #138 closed, assigned to nobody

[2022-07-28 08:31] LinuxDevil commented on #133
@julianrubisch Hey! Did you found out what happened? (Trying to solve it)

[2022-08-05 17:31] SpaYco commented on #133
https://github.com/stimulusreflex/futurism/blob/master/lib/tasks/futurism_tasks.rake#L8-L13

This is not covering all of the possible locations the file could be, it either needs more paths or simply ask for user input if no file was found.

[2022-08-05 18:19] julianrubisch commented on #133
In fairness, this was all written before importmaps-rails, jsbundling-Rails etc.

we‘re just in the process of streamlining all StimulusReflex and CableReady installers, futurism will come next 🤞

[2022-08-08 09:16] evenreven commented on #133
Nice find @SpaYco, I was looking in the wrong place. I guess this is the root of my issue? Rails 5.2 didn't use Webpacker by default, so `app/javascript` doesn't exist unless you install it manually. And my legacy Rails app actually has been retrofitted to use vite_rails, which encourages using `app/frontend/entrypoints`. Any chance this gem's installer could be less opinionated about this, @julia

[2022-08-08 09:22] julianrubisch commented on #133
It definitely should and will. We’re just trying to reuse as much as possible between CR, SR, futurism and others

cc @marcoroth